<div class="container p-4">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <form action="/ajustes/permisosUsuario" method="post">
                        <div class="form-group"> {{!-- email --}}
                            <input type="email" name="email" placeholder="email" autofocus>
                        </div>
                        <div class="form-group"> {{!-- enviar --}}
                            <button type="submit">
                                Consultar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card text-center">
                <h3 class="card-header text-uppercase">
                    {{fullname}}
                </h3>

                <div class="card-body">
                    <div class="form-group"> {{!-- superUsuario --}}
                        <div class="col-4 derecha">
                            <label>Super Usuario</label>
                        </div>
                        <div class="col-4 izquierda">
                            <input type="checkbox" name="superUsuario" id="switchToggle">
                            <label for="switchToggle" class="toggle"></label>
                        </div>
                    </div>

                    <div class="form-group"> {{!-- Cuentas Permitidas --}}
                        <div class="col-4 derecha">
                            <label>Cuentas Permitidas</label>
                        </div>
                        <div class="col-4 izquierda">
                            <input type="number" name="cuentasPermitidas" id="cuentasPermitidas">
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <button type="submit">
                            Guardar
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>