<div class="container p-4">
    <div class="row">
        <div class="col mx-auto">
            <div class="col-12 p-4">
                <h3 class="text-primary text-center">{{cuenta.nombre}}</h3>
            </div>

            <div class="col d-flex justify-content-center">
                <a href="/cuentas/usuariosCuenta/{{cuenta.id}}" class="btn btn-outline-info p-2 m-2">Permisos</a>
                <a href="/cuentas" class="btn btn-outline-info p-2 m-2">Cambiar</a>
                <a href="/cuentas/add" class="btn btn-outline-info p-2 m-2">Agregar</a>
                <a href="/cuentas/cerrar" class="btn btn-outline-info p-2 m-2">Cerrar</a>

            </div>

            
        </div>
    </div>
</div>